

<div class="col-lg-4 my-3">
    <div class="card rounded-0">
     <div class="card-header bg-light">
      <h6 class="mb-0">Ultimas transacciones</h6>
     </div>
     <div class="card-body mb-0">
         <div class="card-header">
       <table class="table .table-sm">
         
         <tr>  
           <th>Nombre</th><th>Monto</th><th>Fecha</th><th>Completo</th>
           </tr>
         <tr> <td>Fernandes Luis</td> <td>2.0</td>
         <td>0.4</td> <td><i class="icon ion-md-close"></i></td>
         </tr>
         <tr> <td>Romero Jose</td> <td>0.3</td>
         <td>1.0</td> <td><i class="icon ion-md-checkmark"></i></td>
         </tr>
         <tr> <td>Godoy Celeste</td> <td>0.4</td>
         <td>0.9</td> <td><i class="icon ion-md-checkmark"></i></td>
         </tr>
         <tr> <td>Martines Juan</td> <td>0.5</td>
         <td>0.8</td> <td><i class="icon ion-md-close"></i></td>
         </tr>
         </table>
        </div>
     </div> 
     
    </div>
</div>
