<div id="sidebar-container"  class="bg-primary">
    <div class="logo">
       <h4 class="text-light font-weight-bold">Logo</h4>
    </div> 
    <div class="menu">
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-home mr-2 lead"></i>Inicio</a>
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-card mr-2 lead"></i>Tarjetas</a>
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-cash mr-2 lead"></i>Prestamos</a>
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-repeat mr-2 lead"></i>Operaciones</a>
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-add mr-2 lead"></i>Te Ofrecemos</a>
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-heart mr-2 lead"></i>Seguros</a>
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-gift mr-2 lead"></i>Puntos</a>
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-help mr-2 lead"></i>Ayuda</a>
      <a href="#" class="d-block text-light p-3 " ><i class="icon ion-md-exit mr-2 lead"></i>Cerrar sesion</a>
    </div>
 </div>
